controller_manager:
  ros__parameters:
    update_rate: 100  # 100Hz 足够 MoveIt 使用

    # 1. 状态广播员 (必须有，否则 RViz 里机器人不显示)
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    # 2. 手臂控制器
    fr3_arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    # 3. 夹爪控制器
    fr3_hand_controller:
      type: position_controllers/GripperActionController

fr3_arm_controller:
  ros__parameters:
    # 这里的关节名必须和你的 ros2_control 标签里的一字不差
    joints:
      - fr3_joint1
      - fr3_joint2
      - fr3_joint3
      - fr3_joint4
      - fr3_joint5
      - fr3_joint6
      - fr3_joint7
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity


fr3_hand_controller:
  ros__parameters:
    type: position_controllers/GripperActionController

    joint: fr3_finger_joint1

    allow_stalling: true

    # 4. 判定抓住了的参数
    stall_velocity_threshold: 0.001 # 速度低于这个值认为停住了
    stall_timeout: 1.0              # 停住 1 秒后发送 Success

    # 目标误差容忍度
    goal_tolerance: 0.01
    
    # 动作监视频率
    action_monitor_rate: 20.0
    
    # 默认最大力 (如果 Action 不指定力，就用这个)
    # 设为 0.0 可能导致没力气，建议给个默认值
    max_effort: 50.0

