controller_manager:
  ros__parameters:
    update_rate: 100  # 100Hz 足够 MoveIt 使用

    # 1. 状态广播员 (必须有，否则 RViz 里机器人不显示)
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    # 2. 手臂控制器
    fr3_arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    # 3. 夹爪控制器
    fr3_hand_controller:
      type: joint_trajectory_controller/JointTrajectoryController

fr3_arm_controller:
  ros__parameters:
    # 这里的关节名必须和你的 ros2_control 标签里的一字不差
    joints:
      - fr3_joint1
      - fr3_joint2
      - fr3_joint3
      - fr3_joint4
      - fr3_joint5
      - fr3_joint6
      - fr3_joint7
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity


fr3_hand_controller:
  ros__parameters:
    joints:
      - fr3_finger_joint1
      # - fr3_finger_joint2
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity

