<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fp3">

  <xacro:include filename="$(find franka_description)/robots/common/franka_arm.srdf.xacro"/>

  <!--
    DEPRECATION NOTICE
    argument arm_id is no longer supported and will be removed in the future.
    This argument is ignored.
  -->
  <xacro:arg name="arm_id" default="fp3" />

  <!-- The prefix of the robot -->
  <xacro:arg name="arm_prefix" default="" />

  <!-- Don't print a prefix for joints, visuals, and links? -->
  <xacro:arg name="no_prefix" default="false"/>

  <!-- Should an end-effector be mounted at the flange?" -->
  <xacro:arg name="hand" default="true" />

  <!-- Which end-effector would be mounted at the flange?" -->
  <xacro:arg name="ee_id" default="franka_hand" />

  <xacro:franka_arm_srdf arm_id="$(arg arm_id)"
                      hand="$(arg hand)"
                      ee_id="$(arg ee_id)"
                      no_prefix="$(arg no_prefix)"
                      arm_prefix= "$(arg arm_prefix)">
  </xacro:franka_arm_srdf>

</robot>
