[workspace]
authors = ["Erik Holum <erik.holum@nasa.gov>"]
channels = ["conda-forge", "https://prefix.dev/robostack-jazzy"]
name = "mujoco_ros2_control"
platforms = ["linux-aarch64", "linux-64"]
version = "0.1.0"

[activation.env]
CMAKE_INSTALL_MODE          = "SYMLINK"
COLCON_DEFAULT_OUTPUT_STYLE = "catkin_tools"

# Ensures the linker knows where to look for conda managed packages
LIBRARY_PATH = "${CONDA_PREFIX}/lib:${LIBRARY_PATH}"
LD_LIBRARY_PATH = "${CONDA_PREFIX}/lib:${LD_LIBRARY_PATH}"
LDFLAGS = "-L${CONDA_PREFIX}/lib -Wl,-rpath,${CONDA_PREFIX}/lib"
CXXFLAGS = "-fuse-ld=mold"

# The default location for mujoco
MUJOCO_DIR="${PIXI_PROJECT_ROOT}/mujoco/mujoco-3.4.0"

[tasks]
# Setup tasks
setup-colcon = { cmd = """
colcon mixin add default https://raw.githubusercontent.com/colcon/colcon-mixin-repository/master/index.yaml && \
colcon mixin update default
""" }

# Build tasks
build = "colcon build"
clean = "rm -rf build install log"

# Test tasks
test = "colcon test"
test-result = "colcon test-result --verbose"

[dependencies]
colcon-common-extensions = ">=0.3.0,<0.4"
colcon-mixin = ">=0.2.3,<0.3"
cmake = ">=4.1.2,<5"
ninja = ">=1.13.1,<2"
sccache = ">=0.11.0,<0.12"
mold = ">=2.40.2,<3"
libcap = ">=2.76,<3"
glfw = ">=3.4,<4"
filelock = ">=3.20.0,<4"
trimesh = ">=4.10.1"
pip = "*"

# ROS dependencies
ros-jazzy-ros-base = "*"
ros-jazzy-ament-cmake = "*"
ros-jazzy-rclcpp = "*"
ros-jazzy-controller-manager = "*"
ros-jazzy-control-toolbox = "*"
ros-jazzy-hardware-interface = "*"
ros-jazzy-transmission-interface = "*"
ros-jazzy-joint-state-broadcaster = "*"
ros-jazzy-position-controllers = "*"
ros-jazzy-sensor-msgs = "*"
ros-jazzy-urdfdom = "*"
ros-jazzy-urdfdom-py = "*"
ros-jazzy-rviz2 = "*"

[pypi-dependencies]
xacro = ">=2.1.1, <3"
obj2mjcf = ">=0.0.25"
mujoco = "==3.4.0"
