<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <xacro:macro name="franka_arm_srdf" params="arm_id hand:='true' ee_id:=franka_hand arm_prefix='' no_prefix='false'">
        <xacro:property name="prefix" value="${'' if no_prefix else arm_prefix + arm_id + '_'}" />
        <xacro:include filename="$(find franka_description)/robots/common/group_definition.xacro"/>
        <xacro:property name="tip_link" value="${prefix + 'hand_tcp' if hand and ee_id == 'franka_hand' else prefix + 'link8'}"/>
        <xacro:group_definition prefix="${prefix}" group_name="${prefix}arm" tip_link="${tip_link}"/>

        <virtual_joint name="virtual_joint" type="fixed" parent_frame="world" child_link="base"/>
        <disable_collisions link1="${prefix}link0" link2="${prefix}link1" reason="Adjacent"/>
        <disable_collisions link1="${prefix}link0" link2="${prefix}link2" reason="Never"/>
        <disable_collisions link1="${prefix}link0" link2="${prefix}link3" reason="Never"/>
        <disable_collisions link1="${prefix}link0" link2="${prefix}link4" reason="Never"/>
        <disable_collisions link1="${prefix}link1" link2="${prefix}link2" reason="Adjacent"/>
        <disable_collisions link1="${prefix}link1" link2="${prefix}link3" reason="Never"/>
        <disable_collisions link1="${prefix}link1" link2="${prefix}link4" reason="Never"/>
        <disable_collisions link1="${prefix}link2" link2="${prefix}link3" reason="Adjacent"/>
        <disable_collisions link1="${prefix}link2" link2="${prefix}link4" reason="Never"/>
        <disable_collisions link1="${prefix}link2" link2="${prefix}link6" reason="Never"/>
        <disable_collisions link1="${prefix}link3" link2="${prefix}link4" reason="Adjacent"/>
        <disable_collisions link1="${prefix}link3" link2="${prefix}link5" reason="Never"/>
        <disable_collisions link1="${prefix}link3" link2="${prefix}link6" reason="Never"/>
        <disable_collisions link1="${prefix}link3" link2="${prefix}link7" reason="Never"/>
        <disable_collisions link1="${prefix}link4" link2="${prefix}link5" reason="Adjacent"/>
        <disable_collisions link1="${prefix}link4" link2="${prefix}link6" reason="Never"/>
        <disable_collisions link1="${prefix}link4" link2="${prefix}link7" reason="Never"/>
        <disable_collisions link1="${prefix}link4" link2="${prefix}link8" reason="Never"/>
        <disable_collisions link1="${prefix}link5" link2="${prefix}link6" reason="Adjacent"/>
        <disable_collisions link1="${prefix}link5" link2="${prefix}link7" reason="Never"/>
        <disable_collisions link1="${prefix}link6" link2="${prefix}link7" reason="Adjacent"/>
        <disable_collisions link1="${prefix}link6" link2="${prefix}link8" reason="Default"/>
        <disable_collisions link1="${prefix}link7" link2="${prefix}link8" reason="Adjacent"/>

        <xacro:if value="${hand}">
            <xacro:if value="${ee_id == 'franka_hand'}">
                <xacro:include filename="$(find franka_description)/end_effectors/franka_hand/franka_hand.srdf.xacro"/>
                <xacro:franka_hand_srdf prefix="${prefix}"/>
            </xacro:if>
        </xacro:if>

    </xacro:macro>
</robot>